.main-header {
  font-size: x-large;
  background-color: lightseagreen;
  font-style: italic;
  text-align: center;
}

.body {
  margin: 0;
  padding: 0;
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.paragraph {
  background-color: rgb(127, 140, 255);
  background-position: 3px;
  border-color: navy;
  border: 5px solid rgb(236, 234, 117);
  text-align: center;
}

.section {
  margin: auto;
}

.list {
  background-color: rgb(72, 129, 179);
  margin: auto;
}

.image-border {
  padding: 2px;
  border: 10px solid navy;
}
.bold-text {
  font-weight: bold;
}

.main-margin {
  width: 1000px;
  margin: 0 auto;
  min-height: calc(100vh - 9rem);
}

.header {
  background-color: black;
  color: yellow;
  height: 4rem;
  position: relative;
}

.header__link {
  text-decoration: none;
  background-color: rgb(19, 83, 80);
  padding: 10px;
  margin: 0px 10px 0px 10px;
  box-sizing: border-box;
}

.footer {
  height: 4rem;
  background-color: honeydew;
  margin: auto;
  text-align: center;
  position: absolute;
  width: 100%;
  font-size: large;
}

.footer__link {
  display: block;
  color: rgb(0, 0, 0);
}

.navigation {
  margin: auto;
  width: 300px;
  padding: 21px;
}

.navigation__link {
    color: lightpink;
}

.heading {
    color: rgb(150, 115, 245);
    text-align: center;
}

.header__link--active {
  background-color: rgb(189, 104, 125);
}

.paragraph__second {
  border: 5px solid rgb(241, 106, 106);
  background-color: rgb(247, 189, 189);
  text-align: center;
}

.list {
  list-style: circle;
}

.list-second {
  list-style: square; 
}

.paragraph__second__list {
  text-align: left;
  border: 5px solid rgb(241, 106, 106);
  background-color: rgb(247, 189, 189);
}

.table {
  width: 100%;
  border: 5px solid rgb(37, 214, 96);
  background-color: rgb(132, 238, 155);
}

