.main-header {
  font-size: x-large;
  background-color: lightseagreen;
  font-style: italic;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}

p {
  background-color: rgb(127, 140, 255);
  background-position: 3px;
  border-color: navy;
  border: 5px solid rgb(236, 234, 117);
  text-align: center;
}

footer {
  font-size: large;
  height: 28px;
}

section {
  margin: auto;
}

ul {
  background-color: rgb(72, 129, 179);
  margin: auto;
}

.hotpink-header {
  color: hotpink;
}

.image-border {
  padding: 2px;
  border: 10px solid navy;
}
.bold-text {
  font-weight: bold;
}

.main-margin {
  width: 1000px;
  margin: 0 auto;
}

.header-background {
  background-color: black;
  color: yellow;
  height: 60px;
  position: relative;
}

.header-background a {
  text-decoration: none;
  background-color: rgb(19, 83, 80);
  padding: 10px;
  margin: 0px 10px 0px 10px;
  box-sizing: border-box;
}

.footer {
  height: 100px;
  background-color: honeydew;
  margin: auto;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer a {
  display: block;
}

.navigation {
  margin: auto;
  width: 300px;
  padding: 21px;
}

.navigation__link {
    color: lightpink;
}
